beautifulsoup4==4.12.2
lxml==4.9.3
pydantic==2.1.1
pydantic_core==2.4.0
python-telegram-bot
PyVirtualDisplay==3.0
requests==2.31.0
selenium==4.10.0
selenium-async
sqlalchemy
aiofiles
asyncpg
async_property
python-telegram-bot[job-queue]
geckodriver_autoinstaller
pydantic-settings
chromedriver_autoinstaller
aiohttp
